* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 33px;
    align-items: center;
}

.promo {
    padding-right: calc(50% - 570px);
    background: #F1E4E6;
    display: flex;
    align-items: center;
}

.promo-img {
    max-width: 50%;
}

.promo-info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo-content {
    padding-left: 63px;
}

.promo-title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-heading {
    font-size: 37px;
    font-weight: 700;
    color: #222222;
}

.promo-heading-fashion {
    font-weight: 700;
    color: #F16D7F;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer-item {
    position: relative;
}

.offer-item4 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.offer-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 70%;
}

.offer-title1 {
    color: #FFFFFF;
    size: 16px;
    line-height: 19.2px;
}

.offer-title2 {
    color: #F16D7F;
    size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}


/* products */

.products {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    color: #222222;
    size: 30px;
    line-height: 36px;
}

.product-desc {
    color: #9F9F9F;
    margin-bottom: 48px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.product-item {
    background: #F8F8F8;
}

.product-head {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.product-title {
    font-size: 13px;
    line-height: 16px;
}

.product-subtext {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
}

.product-info {
    padding: 16px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-price {
    color: #F16D7F;
    font-size: 16px;
}

.product-btn {
    padding: 16px 39px;
    background-color: #FFF;
    color: #FF6A6A;
    font-size: 16px;
    border: solid 1px #FF6A6A;
}

@media (min-width: 1440px) {
    .promo {
        padding-left: 200px;
    }
}

@media (max-width: 1024px) {
    /* стили для планшета */
    .promo-heading {
        font-size: 24px;
    }
    .container {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }
    .header {
        padding-left: calc(50% - 352px);
        padding-right: calc(50% - 352px);
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 32px;
    }
    .promo-content {
        padding-left: 39px;
    }
}

@media (max-width: 767px) {
    /* стили для мобильного */
    .header-link-site {
        display: none;
    }
    .container {
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
    }
    .promo-img {
        display: none;
    }
    .promo {
        height: 375px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .promo-title {
        font-size: 38px;
        line-height: 45.6px;
    }
    .promo-heading {
        font-size: 20px;
    }
    .promo-content {
        padding: 0;
    }
    .offer {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .offer-item4 img {
        height: 111px;
        object-fit: cover;
    }
    .product-desc {
        font-size: 14px;
    }
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin-bottom: 32px;
    }
}