* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

input {
    border: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    position: relative;
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header-check:hover .menu-bar {
    display: block;
}

.header-right {
    display: flex;
    gap: 33px;
    align-items: center;
}

.header-cart {
    position: relative;
}

.header-cart-digit {
    position: absolute;
    top: -10px;
    left: 25px;
    color: white;
    border-radius: 50%;
    background: #F16D7F;
    width: 20px;
    height: 20px;
    text-align: center;
}

.menu-bar {
    display: none;
    position: absolute;
    padding: 32px;
    background: white;
    width: 232px;
    top: 77px;
    right: 0;
    z-index: 1;
}

.menu-header-main {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.menu-header {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #F16D7F;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-list-wrapper {
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 11px;
}

.menu-item-wrapper {
    color: #6F6E6E;
}


/* promo */

.promo {
    padding-right: calc(50% - 570px);
    background: #F1E4E6;
    display: flex;
    align-items: center;
}

.promo-info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo-content {
    padding-left: 63px;
}

.promo-title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-heading {
    font-size: 37px;
    font-weight: 700;
    color: #222222;
}

.promo-heading-fashion {
    font-weight: 700;
    color: #F16D7F;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer-item {
    position: relative;
}

.offer-item4 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.offer-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 70%;
}

.offer-title1 {
    color: #FFFFFF;
    size: 16px;
    line-height: 19.2px;
}

.offer-title2 {
    color: #F16D7F;
    size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}


/* products */

.products {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    color: #222222;
    size: 30px;
    line-height: 36px;
}

.product-desc {
    color: #9F9F9F;
    margin-bottom: 48px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.product-item {
    background-color: #F8F8F8;
}

.product-item-img {
    position: relative;
}

.product-item-img:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.86);
}

.product-item-cart {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 1px solid white;
    background-image: url("img/cart.svg");
    background-position: 11px center;
    background-repeat: no-repeat;
    padding-left: 50px;
    z-index: 1;
    font-size: 14px;
}

.product-item-img:hover .product-item-cart {
    display: flex;
}

.product-head {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.product-title {
    font-size: 13px;
    line-height: 16px;
}

.product-subtext {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
}

.product-info {
    padding: 16px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-price {
    color: #F16D7F;
    font-size: 16px;
}

.product-btn {
    padding: 16px 39px;
    background-color: #FFF;
    color: #F26376;
    font-size: 16px;
    border: solid 1px #F26376;
}

.product-btn:hover {
    background-color: #F26376;
    color: white;
}


/* feature */

.feature {
    background-color: #222224;
    padding-top: 103px;
    padding-bottom: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.feature-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-img {
    margin-bottom: 25px;
}

.feature-head {
    font-weight: 400;
    font-size: 20px;
    color: #FBFBFB;
    margin-bottom: 16px;
}

.feature-desc {
    font-weight: 300;
    font-size: 14px;
    color: #FBFBFB;
    text-align: center;
}


/* form */

.forma {
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;
    background-image: url(img/forma-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.forma-avatar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 360px;
}

.forma-info {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-style: italic;
    color: #222224;
}

.forma-subscribe {
    margin-top: 53px;
    padding-left: 100px;
    padding-right: 100px;
    width: 357px;
}

.form-sub {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 37px;
    color: #222224;
}

.form-desc {
    font-size: 18px;
    color: #222224;
    text-align: center;
    margin-bottom: 32px;
}

.forma-top {
    width: 100%;
    height: 50px;
    position: relative;
}

.forma-input {
    width: 80%;
    background-color: #E1E1E1;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
}

.forma-btn {
    width: 100px;
    height: 100%;
    background-color: #F16D7F;
    position: absolute;
    left: 256px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FFFFFF;
}

.forma-btn:hover {
    background-color: #E05C6E;
}


/* footer */

.footer {
    background-color: #222224;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 300;
}

.footer-link {
    display: flex;
    gap: 7px;
}

.footer-item-svg:hover .footer-item-svg-fill1 {
    fill: #F16D7F;
}

.footer-item-svg:hover .footer-item-svg-fill2 {
    fill: white;
}

@media (min-width: 1440px) {
    .promo {
        padding-left: 200px;
    }
}

@media (max-width: 1024px) {
    /* стили для планшета */
    .promo-heading {
        font-size: 24px;
    }
    .container {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }
    .header {
        padding-left: calc(50% - 352px);
        padding-right: calc(50% - 352px);
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 32px;
    }
    .promo-content {
        padding-left: 39px;
    }
    .feature {
        flex-direction: column;
        gap: 48px;
    }
    .forma {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 0;
        align-items: center;
        background-position: 25%;
        background-size: cover;
    }
    .forma-subscribe {
        width: 341px;
    }
    .forma-btn {
        left: 245px;
    }
}

@media (max-width: 767px) {
    /* стили для мобильного */
    .header-link-site {
        display: none;
    }
    .container {
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
    }
    .promo-img {
        display: none;
    }
    .promo {
        height: 375px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .promo-title {
        font-size: 38px;
        line-height: 45.6px;
    }
    .promo-heading {
        font-size: 20px;
    }
    .promo-content {
        padding: 0;
    }
    .offer {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .offer-item4 img {
        height: 111px;
        object-fit: cover;
    }
    .product-desc {
        font-size: 14px;
    }
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin-bottom: 32px;
    }
    .footer {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .footer-link {
        order: -1;
    }
}